@charset "UTF-8";
/* CSS Document */

/* this is a custom CSS stylesheet */

.body {
  font-family: Helvetica, Arial, sans-serif;
}

.img-responsive {
  height: 6em;
  margin-right: auto;
  margin-left: auto;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #dae5ef;
}

.table a {
  color: #7BAFD4;
}

.table a:hover {
  color: white;
  background: #7BAFD4;
  text-decoration: none;
}
